* {
    margin: 0;
    border: 0;
}
body {
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(17, 17, 17);
}
#board {
    margin: 2rem;
    padding: .1rem;
    border: solid .5rem lime;
    width: 80vmin;
    height: 80vmin;
    display: flex; 
}
