* {
    margin: 0;
    border: 0;
}
body {
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: black; */
    background-color: white;
}
#board {
    margin: 2rem;
    border: solid 1rem rgb(97, 38, 38);
    width: 80vmin;
    height: 80vmin;
    display: flex;
}