* {
    margin: 0;
    border: 0;
}
body {
    margin: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: black;
}
#board {
    margin: 8vmin;
    border: solid 1vmin lime;
    border-radius: 2vmin;
    outline-style: solid;
    outline-color: black;
    outline-width: 6vmin;
    width: 80vmin;
    height: 80vmin;
    display: flex; 
}

div {
    position: fixed;
    margin-top: 4vmin;
    margin-bottom: 0;
    color: lime;
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    font-size: 2.5vmin;
}

button {
    position: absolute;
    align-self: center;
    padding: 2vmin;
    border: solid 1vmin lime;
    border-radius: 2vmin;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    font-size: 2.5vmin;
}